<p id="notice"><%= notice %></p>



<p>
  <strong>Player name:</strong>
  <%= @palyer.player_name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @palyer.score %>
</p>

<%= link_to 'Edit', edit_palyer_path(@palyer) %> |
<%= link_to 'Back', palyers_path %>
